.explore-parent {
    height: 650px;
    width: 100%;
    max-width: 700px;
   
    overflow-y: auto;
    display: flex;
    flex-wrap: wrap;
    padding: 1em 2em 1em 0em;
    gap: 1em;
  }

 
  .explore-parent::-webkit-scrollbar {
    width: 0px; 
  }
  

  @media screen and (max-width: 700px) {
    .explore-parent  .card {
   
        flex: 1 1 40%;
     
      }

      .explore-parent {
        height: auto;
        
        overflow-y: visible;
      }
    
  }
  