.App {
  display: flex;
  flex-direction: row;
  justify-content: space-around; /* Ensures items are evenly distributed */
  align-items: flex-start; /* Align items at the start of the flex container */
  padding: 20px;
  flex-wrap: wrap;
}

.container {
  display: flex;
  justify-content: space-between;
}



.banner-container {
  flex: 1 0 100%; /* Take full width */
}

.outlet-container {
  flex: 0 0 100%; /* Take full width */
}