@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap");

:root {
  --primary-color: #fae167;
  --secondary-color: #ffffff;
  --background-color: #282525;
  --text-color: #ffffff;
  --valid-color: #2ecc71;
  --invalid-color: rgb(255, 53, 53);
  --disabled: #afafaf;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.form-parent {
  height: 650px;
  width: 100%;
  max-width: 700px;
  padding: 2em;
}

body {
  font-family: "Poppins", sans-serif;
  background-color: var(--background-color);
  color: var(--text-color);
  line-height: 1.6;
}

a {
  font-size: larger;
  font-weight: bolder;
  text-decoration: none;
  color: var(--primary-color);
}

a:visited,
a:active
{
  color: var(--primary-color);
  text-decoration: underline;
}


 h2 {
  color: var(--primary-color);
}

 h4 {
  color: var(--secondary-color);
}